{% extends "layout/main.html" %}

{% block body %}
<h3> <i> Just because I love macarons. </i> </h3>

<br />

<hr>

<div class = "row">
	<div class = "span6">
		<label for = "user_address"> Where are you now? </label>
		<input type = "text" id = "user_address" name = "user_address" value = "721 Broadway, New York, NY"> <br>
		<input type = "button" id = "locate_button" class = "btn" value = "Locate" >		
	</div>

	<div class = "span6">
		<form method = "POST">
			<label for = "user_latlng"> Nearest macarons vendors: </label>
			<input type = "text" id = "user_latlng" name = "user_latlng" size = "40"> <br>
			<input type = "submit" id = "search_button" class = "btn" value = "search 4SQ" disabled = disabled >
		</form>
	</div>
</div>

{% endblock %}

{% block scripts %}

<script type = "text/javascript" src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAQsmkT26JbAduQgEDzrtBaIjStLou_z3c&sensor=false"></script>
<script type = "text/javascript" src = "static/js/geocoder.js"></script>

{% endblock%}