{% extends "layout/main.html" %}

 <div id="content">
    <div class="limiter">
        <h1>macarons vendor</h1>
        <a id="showall" class="hidden" href="#">Address filter</a>
        <div id="no-venues" class="hidden">Oops! Looks like there are no <strong>sweetgreen</strong> locations within five miles of this address. Try another search.</div>
    </div>
</div>

    <div id="map" class="map"></div>
    <a href="https://foursquare.com/" target="_blank">
        <img id="fsq-attribution" src="img/powered-by.png">
    </a>
    <div id="search">
       <form class="geocode">
         <input placeholder='Enter city, state, or ZIP' type="text">
         <input type='submit' />
         <div id='geocode-error'></div>
       </form>
    </div>
{% block body %}

<!-- <h3> nearest macaron vendors </h3>

<br />

<hr>

<div class = "row">
    <div class = "span6">
        <label for = "user_address"> Where are you now? </label>
        <input type = "text" id = "user_address" name = "user_address" value = "721 Broadway, New York, NY"> <br>
        <input type = "button" id = "locate_button" class = "btn" value = "Locate" >        
    </div>

    <div class = "span6">
        <form method = "POST">
            <label for = "user_address"> Nearest macarons vendors: </label>
            <input type = "text" id = "user_latlng" name = "user_latlng" size = "40"> <br>
            <input type = "submit" id = "search_button" class = "btn" value = "JSON format" disabled = disabled >
        </form>
    </div>
</div>
 -->

{% endblock %}


{% block scripts %}

<script type = "text/javascript" src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAQsmkT26JbAduQgEDzrtBaIjStLou_z3c&sensor=false"></script>
<script type = "text/javascript" src = "static/js/geocoder.js"></script>
<script type = "text/javascript" src = "static/js/ext/jquery.min.js"></script>
<script type = "text/javascript" src = "static/js/ext/underscore.min.js"></script>
<script type = "text/javascript" src = "static/js/ext/modestmaps.min.js"></script>
<script type = "text/javascript" src = "static/js/ext/wax/wax.mm.js"></script>
<script type = "text/javascript" src = "static/js/ext/wax/wax.ext.js"></script>
<script type = "text/javascript" src = "static/js/ext/easey.js"></script>
<script type = "text/javascript" src = "static/js/ext/easey.handlers.js"></script>
<script type = "text/javascript" src = "static/js/ext/mmg.js"></script>
<script type = "text/javascript" src = "static/js/foursquare.js"></script>


{% endblock %}

